<!DOCTYPE html>
<html>
    <head>
        <title>Queen's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Queen's blog</a></h1>
        </header>

        <article>
            <time>published: 01.06.2023, 8:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Django Version: Ensure that you are using a compatible version of Django with your project.
        </article>

        </article>
            <time>published: 01.06.2023, 8:00</time>
            <h2><a href="">My second post</a></h2>
            <p>Virtual Environment: Confirm that you are working within the correct virtual environment.
        </article>
   </body>
</html>